@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --color-verde-bosque: #2D5A27;
  --color-terracota: #D27D56;
  --color-pizarra-azul: #3E4E50;
  --color-arena: #F9F7F2;
}